@model SportsEquipmentStoreManagementApp.Models.Shoe

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
</head>
<body>
    <form method="get">
        <table>
            <tr>
                <td>Enter Name</td>
                <td><input type="text" id="item" name="item" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
