
@{
    ViewBag.Title = "FilteringByFields";
}

<h2>FilteringByFields</h2>


@{
        foreach(var item in Model)
        {
        switch (item.Company)
        {
            case "nike":
                
                break;
        }
        }

}